/* #show-result {
    position: relative;
    Make the container position-relative
}

#show-all {
    position: absolute;
    bottom: 0;
    Position the button at the bottom of the container
    left: 50%;
    Adjust this value to center horizontally
    transform: translateX(-50%);
    Center horizontally
    margin-bottom: 200px;
    Add some spacing
} */